<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>

<body align="center">
    <a href="/">Home</a>
    <a href="/add-student">Add Student</a>
    <h1>Add Student</h1>

    <form method="post" action="/new-student">
        <input type="number" name="id" placeholder="Enter id" required><br><br>
        <input type="text" name="name" placeholder="Enter Name" required><br><br>
        <input type="number" name="age" placeholder="Enter Age" required><br><br>
        <input type="email" name="email" placeholder="Enter Email" required><br><br>
        <input type="number" name="mobail" placeholder="Enter Mobail" required><br><br>
        <input type="submit" value="Add Student">
    </form>

</body>

</html>