<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/edit-student">Add Student</a>

    <h1>Add Student</h1>

    <form method="post" action="/edit-student">
        <input type="number" name="id" placeholder="Enter ID" disabled>
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="age" placeholder="Enter Age" required>
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="number" name="mobileno" placeholder="Enter Mobile" required>
        <input type="submit" value="Add Student">
    </form>

</body>

</html>